*.o
*.los
quirc-demo
quirc-scanner
qr-decoder
decode_qr
decode_png
decode_jpeg
qrtest
inspect
memdjpeg
libquirc.a
libquirc.so*
.*.swp
*~
.DS_Store
*.ppm
*.out.js
*.out.wasm
webassembly-jpeg.js
node_modules
/libjpeg
/jpeg-9c
*.js.gz
*.wasm.gz